<div id="navbar" class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex gap-2 items-center">
    <input
      type="text"
      placeholder="Search"
      name="search_term"
      hx-get='{{url_for("search_todos")}}'
      hx-target ="#todos"
      hx-trigger ="keyup changed delay:500ms"
      hx-swap="outerHTML"
      class="input input-primary w-24 md:w-auto"
    />
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><button class="btn btn-primary" hx-on::after-request="rerenderNavbar()" hx-on::before-request="this.textContent='Logging Out';this.disabled=true" hx-get ='{{url_for("logout")}}' hx-swap='none'>Logout</button></li>
      </ul>
    </div>
    {% if current_user.is_authenticated %}
    <button hx-get="{{url_for('add_todo')}}"onclick="my_modal_1.showModal()" hx-target='.modal-box'  class="btn btn-primary rounded-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus-icon lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
    </button>
    {% else %}
    <!-- Open the modal using ID.showModal() method -->
    <button   hx-get="{{url_for('login')}}" hx-target='.modal-box' class="btn btn-primary  rounded-md" onclick="my_modal_1.showModal()">
     Login
    </button>
      <button hx-get="{{url_for('register')}}" hx-target='.modal-box' class="btn btn-primary  rounded-md" onclick="my_modal_1.showModal()">
     Register
    </button>
    
   
    {% endif %}
     <dialog id="my_modal_1" class="modal pt-0">
      <div class="modal-box relative">
      </div>
    </dialog>
  </div>
</div>